### Grafana ###
GRAFANA_ADMIN_PASSWORD=changeme

### PostgreSQL ###
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=sentinelops
POSTGRES_PASSWORD=changeme
POSTGRES_DB=sentinelops

### Response Engine DB credentials ###
RESPONSE_ENGINE_DB_USER=response_engine
RESPONSE_ENGINE_DB_PASSWORD=response_engine_dev_password

### Report Generator DB credentials ###
REPORT_GENERATOR_DB_USER=report_generator
REPORT_GENERATOR_DB_PASSWORD=report_generator_dev_password
